body {
    background-image: url("forest.webp");
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 0
}

.container {
    text-align: center;
    display: grid;
    align-items: center;

}

.Below {
    display: flex;
    justify-content: center;
    align-items: center;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;}

.cell {
    width: 100px;
    height: 100px;
    background-color: rgb(217, 218, 217);
    border: 2px solid #000000;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    border-radius: 10px;
}

.cell:hover {
    background-color: rgb(255, 255, 255) 
}

.status {
    font-size: 30px;
    margin-top: 20px;
    margin-right: 200px;
    margin: 0;
    color: aliceblue;
    margin-right: 250px;
}

#restartButton {
    font-size: 20px;
    padding: 5px 10px;
    cursor: default;
    background-color: rgb(152, 152, 152);
    border: black;
    color: black;
    border-radius: 15px; 
    margin-left: 250px;
}

#restartButton:hover {
    background-color: rgb(225, 225, 225);
}